.banner {
	width: 100%;
}

.app-icon {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	margin: 16px; 
}

.profile-icon {
	margin-top: 3px;
	border-radius: 100%;
	border: 2px solid #ddd;
	width: 90%;
	height: 90%; 
}

md-sidenav {
	position: fixed !important;
}