<!DOCTYPE html>
<html lang="en" ng-app="personalWebsiteApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
  <link rel="shortcut icon" href="images/icon.png" type="image/png">
  <title>Donal Hurley</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <md-content id="container" ng-controller="contentController" md-swipe-right="openSidnav()" md-swipe-left="closeSidnav()" ng-cloak>

<!---------------------------------------------------------Image banner------------------------------------------------------------------------>

    <md-content>
      <img ng-src="images/code_banner.png" class="banner">
    </md-content>

<!-------------------------------------------------------Contents toolbar---------------------------------------------------------------------->

    <md-toolbar hide-xs hide-sm>
      <div class="md-toolbar-tools" layout="row" layout-align-gt-xs="center center">
        <div flex="15" layout="column" layout-align="center center"><md-button ng-click="goToContent('about-content')">About</md-button></div>
        <div flex="15" layout="column" layout-align="center center"><md-button ng-click="goToContent('work-experience-content')">Work Experience</md-button></div>
        <div flex="15" layout="column" layout-align="center center"><md-button ng-click="goToContentAndCloseSidnav('education-content')">Education</md-button></div>
        <div flex="15" layout="column" layout-align="center center"><md-button ng-click="goToContentAndCloseSidnav('skills-content')">Skills</md-button></div>
        <div flex="15" layout="column" layout-align="center center"><md-button ng-click="goToContent('github-projects-content')">GitHub Projects</md-button></div>
        <div flex="15" layout="column" layout-align="center center"><md-button ng-click="goToContent('android-applications-content')">Android Applications</md-button></div>
      </div>
    </md-toolbar>

<!--------------------------------------------------------Contents sidenav---------------------------------------------------------------------->

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Contents</h1>
      </md-toolbar>
      <md-content layout="column" layout-padding>
        <md-button ng-click="goToContentAndCloseSidnav('about-content')">About</md-button>
        <md-button ng-click="goToContentAndCloseSidnav('work-experience-content')">Work Experience</md-button>
        <md-button ng-click="goToContentAndCloseSidnav('education-content')">Education</md-button>
        <md-button ng-click="goToContentAndCloseSidnav('skills-content')">Skills</md-button>
        <md-button ng-click="goToContentAndCloseSidnav('github-projects-content')">GitHub Projects</md-button>
        <md-button ng-click="goToContentAndCloseSidnav('android-applications-content')">Android Applications</md-button>
      </md-content>
    </md-sidenav>

<!-------------------------------------------------------------Contents-------------------------------------------------------------------------->

    <md-content layout="row" layout-align="center center">
      <md-content flex-gt-xs="80" flex="100">

<!----------------------------------------------------------About Content------------------------------------------------------------------------>

        <md-content id="about-content" class="md-padding">
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>About</span>
            </h2>
          </md-toolbar>

          <md-content layout="row">
            <p flex-offset="10" flex="80">
              I am an experienced software engineer who is always looking to expand his technical knowledge. I am a Java developer by trade but I also have experience with Javascript, Python and Bash. I am always looking to try and learn the latest technologies used in the software industry from using the Unity 3D Game Engine to develop android applications to using AngularJS and Angular Material to create responsive web and mobile applications.
            </p>
          </md-content>
          <md-content layout="row" layout-align="center center">
            <md-button class="md-primary md-mini" ng-click="goToContent('container')">Back to top</md-button>
          </md-content>
        </md-content>

<!--------------------------------------------------------Work Experience Content---------------------------------------------------------------------->

        <md-content id="work-experience-content" ng-controller="workExperienceController" class="md-padding">
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>Work Experience</span>
            </h2>
          </md-toolbar>

          <md-content ng-repeat="job in jobs">
            <md-content layout="row" layout-align="center">
              <md-subheader class="md-primary" layout-align="center center">{{job.name}}</md-subheader>
            </md-content>
            <md-content layout="row" layout-align="center">
              <p flex="80" layout-align="center center">{{job.description}}</p>
            </md-content>
            <md-divider flex-offset="5" flex="90" ng-if="!$last"></md-divider>
          </md-content>
          <md-content layout="row" layout-align="center center">
            <md-button class="md-primary md-mini" ng-click="goToContent('container')">Back to top</md-button>
          </md-content>
        </md-content>

<!--------------------------------------------------------Education Content---------------------------------------------------------------------->

        <md-content id="education-content" ng-controller="educationController" class="md-padding">
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>Education</span>
            </h2>
          </md-toolbar>

          <md-content layout="row" layout-align="center">
            <md-subheader class="md-primary" layout-align="center center">Degrees</md-subheader>
          </md-content>
          <md-content>
            <md-list layout="column" layout-gt-md="row">
              <md-list-item class="md-3-line" ng-repeat="college in colleges" flex="100" flex-gt-md="50">
                <div class="md-list-item-text">
                  <center><h3>{{college.degree}}</h3></center>
                  <center><p>College: {{college.name}} - ({{college.timePeriod}})</p></center>
                  <center><p>Grade: {{college.grade}}</p></center>
                </div>
              </md-list-item>
            </md-list>
          </md-content>

          <md-divider flex-offset="5" flex="90"></md-divider>

          <md-content layout="row" layout-align="center">
            <md-subheader class="md-primary" layout-align="center center">Certificates</md-subheader>
          </md-content>
          <md-content>
            <md-list layout="column" layout-gt-md="row">
              <md-list-item class="md-3-line" ng-repeat="certificate in certificates" flex="100" flex-gt-md="50">
                <div class="md-list-item-text">
                  <center><h3>{{certificate.name}}</h3></center>
                  <center><p>Year: {{certificate.year}}</p></center>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
          <md-content layout="row" layout-align="center center">
            <md-button class="md-primary md-mini" ng-click="goToContent('container')">Back to top</md-button>
          </md-content>

<!--------------------------------------------------------Skills Content---------------------------------------------------------------------->

        <md-content id="skills-content" ng-controller="skillsController" class="md-padding">
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>Skills</span>
            </h2>
          </md-toolbar>

          <md-content flex-offset="10" flex="80">
            <md-chips  ng-model="skills" readonly="true">
              <md-chip-template>
                <strong>{{$chip}}</strong>
              </md-chip-template>
            </md-chips>
          </md-content>
          <md-content layout="row" layout-align="center center">
            <md-button class="md-primary md-mini" ng-click="goToContent('container')">Back to top</md-button>
          </md-content>

<!-----------------------------------------------------GitHub Projects Content------------------------------------------------------------------>

        <md-content id="github-projects-content" ng-controller="repoController" class="md-padding">
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>GitHub Projects</span>
            </h2>
          </md-toolbar>

          <md-content>
            <md-list layout="row" layout-xs="column" layout-wrap>
              <md-list-item class="md-3-line" ng-repeat="repo in repos" ng-click="openGithubRepoTab(repo.html_url)" flex="50" flex-gt-md="25" flex-xs="100">
                <img ng-src="images/github_icon.png" class="app-icon">
                <div class="md-list-item-text">
                  <h3>{{repo.name}}</h3>
                  <p>Watchers: {{repo.watchers}}</p>
                  <p>Language: {{repo.language}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
          <md-content layout="row" layout-align="center center">
            <md-button class="md-primary md-mini" ng-click="goToContent('container')">Back to top</md-button>
          </md-content>
        </md-content>

<!-------------------------------------------------Android Applications Content---------------------------------------------------------------->

        <md-content id="android-applications-content" ng-controller="appController" class="md-padding">
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>Android Applications</span>
            </h2>
          </md-toolbar>

          <md-content>
            <md-list layout="row" layout-xs="column" layout-wrap>
              <md-list-item class="md-3-line" ng-repeat="app in apps" ng-click="openGooglePlayStoreTab(app.viewUrl)" flex="50" flex-gt-md="25" flex-xs="100">
                <img ng-src="{{app.icon}}" class="app-icon">
                <div class="md-list-item-text">
                  <h3>{{app.name}}</h3>
                  <p>Downloads: {{app.numDownloads}}</p>
                  <p>Rating: {{app.averageUserRating}}/5</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
          <md-content layout="row" layout-align="center center">
            <md-button class="md-primary md-mini" ng-click="goToContent('container')">Back to top</md-button>
          </md-content>
        </md-content>

  </md-content>

<!-------------------------------------------------------Javascript Files-------------------------------------------------------------------->

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
  <!-- endbower -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

  <script src="js/main.js"></script>
  <script src="js/services/github.js"></script>
  <script src="js/services/googlePlayStore.js"></script>
  <script src="js/controllers/contentController.js"></script>
  <script src="js/controllers/workExperienceController.js"></script>
  <script src="js/controllers/educationController.js"></script>
  <script src="js/controllers/skillsController.js"></script>
  <script src="js/controllers/repoController.js"></script>
  <script src="js/controllers/appController.js"></script>
</body>
</html>
