<!DOCTYPE html>
<html lang="en" ng-app="personalWebsiteApp">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="images/person.png" type="image/png">
  <title>Donal Hurley</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <md-content id="popupContainer">

    <!--------------Top toolbar and image banner---------------->

    <md-toolbar>
      <div class="md-toolbar-tools">
      </div>
    </md-toolbar>

    <md-content>
      <img ng-src="images/code-banner.png" class="banner">
    </md-content>

    <!------------------Contents toolbar------------------------>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button flex="25">About</md-button>
        <md-button flex="25">History</md-button>
        <md-button flex="25">GitHub Projects</md-button>
        <md-button flex="25">Android Applications</md-button>
      </div>
    </md-toolbar>

    <!-----------------------Contents---------------------------->

    <md-content layout="row" layout-align="center">
      <md-content flex="80" layout-align="center center">

        <!--------------------About Content------------------------>

        <md-content class="md-padding" ng-cloak>
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>About</span>
            </h2>
          </md-toolbar>

          <md-content layout="row" layout-align="center">
            <md-content flex="10"></md-content>
            <md-content flex="25" layout="row" layout-wrap>
              <md-content flex="20"></md-content>
              <img ng-src="images/person.png" class="profile-icon" flex="60">
              <md-content flex="20"></md-content>
              <md-content flex="10"></md-content>
              <md-button class="md-primary" ng-href="https://github.com/dhurley" target="_blank" flex="30">GitHub</md-button>
              <md-button class="md-primary" ng-href="https://ie.linkedin.com/in/donal-hurley-0b42a1b3" target="_blank" flex="30">Linkedin</md-button>
            </md-content>
            <md-content flex="55">
              <h4>Name: <i>Donal Hurley</i></h4><h4>Email: <i>djhurley1990@gmail.com</i></h4>
              <md-divider></md-divider>
              <p>
                I am an experienced software engineer who is always looking to expand his technical knowledge. I am a Java developer by trade but I also have experience with Javascript, Python and Bash. I am always looking to try and learn the latest technologies used in the software industry from using the Unity Game Engine to develop android applications to using AngularJS and Angular Material to create responsive web applications.
              </p>
          </md-content>
            <md-content flex="10"></md-content>
          </md-content>
        </md-content>

        <!---------------History Content-------------------->

        <md-content ng-controller="historyController" class="md-padding" ng-cloak>
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>History</span>
            </h2>
          </md-toolbar>

          <md-content ng-repeat="stage in stages">
            <md-content layout="row" layout-align="center">
              <md-subheader class="md-primary" layout-align="center center">{{stage.name}}</md-subheader>
            </md-content>
            <md-content layout="row" layout-align="center">
              <p flex="80" layout-align="center center">{{stage.description}}</p>
            </md-content>
            <md-divider md-inset flex="85"></md-divider>
          </md-content>
        </md-content>

        <!---------------GitHub Projects Content------------------>

        <md-content ng-controller="repoController" class="md-padding" ng-cloak>
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>GitHub Projects</span>
            </h2>
          </md-toolbar>

          <md-content>
            <md-list layout="row" layout-wrap>
              <md-list-item class="md-3-line" ng-repeat="repo in repos" ng-click="openGithubRepoTab(repo.html_url)" flex="50">
                <img ng-src="images/github_icon.png" class="app-icon"> 
                <div class="md-list-item-text">
                  <h3>{{repo.name}}</h3>
                  <p>Watchers: {{repo.watchers}}</p>
                  <p>Number of Open Issuses: {{repo.open_issues}}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-content>

        <!------------Android Applications Content-------------->

        <md-content ng-controller="appController" class="md-padding" ng-cloak>
          <md-toolbar>
            <h2 class="md-toolbar-tools" layout-align="center">
              <span>Android Applications</span>
            </h2>
          </md-toolbar>

          <md-content>
            <md-list layout="row" layout-wrap>
              <md-list-item class="md-3-line" ng-repeat="app in apps" ng-click="showAlert(app)" flex="50">
                <img ng-src="{{app.icon}}" class="app-icon">
                <div class="md-list-item-text">
                  <h3>{{app.name}}</h3>
                  <p>Downloads: {{app.numDownloads}}</p>
                  <p>Rating: {{app.averageUserRating}}/5</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </md-content>

  </md-content>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <!-- endbower -->
  <script src="js/main.js"></script>
  <script src="js/services/github.js"></script>
  <script src="js/services/googlePlayStore.js"></script>
  <script src="js/controllers/historyController.js"></script>
  <script src="js/controllers/repoController.js"></script>
  <script src="js/controllers/appController.js"></script>
</body>
</html>
